$modalBgColor: rgba(0,0,0,0.75);
$modalHeaderBgColor: #454545; //rgba(157, 19, 72, 0.75);
$iconIndent: 110px;

.modal {
  display: block;
  height: 0;
  position: absolute; // allows scrolling
  overflow: visible;
}

/* ==================================
 * Override Bootstrap styles 
 * ================================ */
 
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: auto;
    padding: 0 3em;
    margin-bottom: 1em;
  }
}

.modal-backdrop.in {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.modal-content {
  overflow: hidden;
  border-radius: 8px;
  border: none;
  color: #fff !important;
  background-color: $modalBgColor;
}

.modal-header {
  min-height: 16.428571429px;
  padding: 0.5em 1em;
  border-bottom: none;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 70%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(70%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 70%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#cccccc 70%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 70%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#cccccc 70%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6 */

}

.modal-title {
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

.modal-header .close {
  margin-top: 1px;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  &:hover, &:active {
    opacity: 1;
  }
}
.modal-body {
  padding: 0;
  min-height: 300px;
}
.modal-footer {
  margin-top: 0;
  padding: 0.5em;
  background-color: transparent;
  border-top: none;
  button {
    background-color: rgba(0,0,0,0.5);
    border-color: #444;
    color: rgba(255,255,255,0.75);
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
      background-color: rgba(0,0,0,0.75);
      border-color: $color3;
      color: rgba(255,255,255,0.95);
    }
    &:active, &:focus {
      background-color: rgba(0,0,0,0.75);
      border-color: rgba(255,255,255,1);
      color: rgba(255,255,255,1);
    }
  }
}

/* ================================== */

@media (min-width: 768px) {
  .modal-dialog {
    .icon {
      display: block !important;
    }
    .modal-header {
      h2, h3 {
        margin-left: $iconIndent !important;
      }
     } 
    .modalRowContent {
      margin-left: $iconIndent !important;
    }
  }
}

/* ================================== */

#stateMap {
  width: 300px;
  height: 300px;
  float: left;
}

::-webkit-scrollbar-track {
   background: rgba(0,0,0,0.25);
}
::-webkit-scrollbar {
   background: #333;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 6px;
}
.stateContent {
  padding: 2em 2px 1em 0;
  margin-left: 300px;
  
  h4 {
    color: #fff;
    margin-bottom: 0.5em;
  }
  ul {
    margin: 0;
    padding: 0 1em 0 0;
    max-height: 400px;
    overflow: auto;
    li {
      list-style-type: none;
      margin-bottom: 1em;
      .institution {
        font-weight: bold;
        color: $color3;
        margin-bottom: -0.25em;
      }
      .location {
        font-size: 85%;
        margin-bottom: 0.25em;
      }
      .outcome {
        font-size: 85%;
        color: #fff;
      }
      .link {
        font-size: 85%;
        color: $color5;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}
