$modalBgColor: rgba(0,0,0,0.75);
$modalHeaderBgColor: #454545; //rgba(157, 19, 72, 0.75);
$iconIndent: 110px;

.modal {
  display: block;
  height: 0;
  position: absolute; // allows scrolling
  overflow: visible;
::-webkit-scrollbar-track {
   background: rgba(0,0,0,0.25);
}
::-webkit-scrollbar {
   background: #333;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 6px;
}

}

/* ==================================
 * Override Bootstrap styles 
 * ================================ */
 
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: auto;
    max-width: 1000px;
    padding: 0 3em;
    margin-bottom: 1em;
    pointer-events: none;
  }
}

.modal-backdrop.in {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.modal-content {
  overflow: hidden;
  border-radius: 8px;
  border: none;
  color: #fff !important;
  background-color: $modalBgColor;
  pointer-events: all;
}

.modal-header {
  min-height: 16.428571429px;
  padding: 0.5em 1em;
  border-bottom: none;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #cccccc 70%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(70%,#cccccc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%,#cccccc 70%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%,#cccccc 70%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%,#cccccc 70%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%,#cccccc 70%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 ); /* IE6 */

}

.modal-title {
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
}

.modal-header .close {
  margin-top: 1px;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
  &:hover, &:active {
    opacity: 1;
  }
}
.modal-body {
  padding: 0;
  min-height: 300px;
}
.modal-footer {
  margin-top: 0;
  padding: 0.5em;
  background-color: transparent;
  border-top: none;
  button {
    background-color: rgba(0,0,0,0.5);
    border-color: #444;
    color: rgba(255,255,255,0.75);
    padding: 3px 6px;
    text-transform: uppercase;
    font-size: 12px;
    &:hover {
      background-color: rgba(0,0,0,0.75);
      border-color: $color3;
      color: rgba(255,255,255,0.95);
    }
    &:active, &:focus {
      background-color: rgba(0,0,0,0.75);
      border-color: rgba(255,255,255,1);
      color: rgba(255,255,255,1);
    }
  }
}

/* ================================== */

@media (min-width: 768px) {
  .modal-dialog {
    .icon {
      display: block !important;
    }
    .modal-header {
      h2, h3 {
        margin-left: $iconIndent !important;
      }
     } 
    .modalRowContent {
      margin-left: $iconIndent !important;
    }
  }
}
#stateMap {
  display: none;
}
.stateContent {
  margin-left: 1em;
}
@media (min-width: 600px) {
  #stateMap {
    display: block;
  }
  .stateContent {
    margin-left: 300px;
  }
}

/* ================================== */

#stateMap {
  width: 300px;
  height: 300px;
  float: left;
}

.stateContent {
  padding: 2em 2px 1em 0;
  
  h4 {
    color: #fff;
    margin-bottom: 0.25em;
  }
  h5 {
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  ul {
    margin: 0;
    padding: 0 1em 0 0;
    max-height: 400px;
    overflow: auto;
    li {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#364395+0,101010+50 */
      background: #364395; /* Old browsers */
      background: -moz-linear-gradient(top,  #364395 0%, #222222 50%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#364395), color-stop(50%,#222222)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  #364395 0%,#222222 50%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  #364395 0%,#222222 50%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  #364395 0%,#222222 50%); /* IE10+ */
      background: linear-gradient(to bottom,  #364395 0%,#222222 50%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#364395', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
      border-radius: 6px;
      overflow: hidden;
      list-style-type: none;
      margin-bottom: 1em;
      .partnerHeader {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303970+0,364395+100 */
        background: #303970; /* Old browsers */
        background: -moz-linear-gradient(top,  #303970 0%, #204f9f 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#303970), color-stop(100%,#204f9f)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #303970 0%,#204f9f 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #303970 0%,#204f9f 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #303970 0%,#204f9f 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #303970 0%,#204f9f 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303970', endColorstr='#204f9f',GradientType=0 ); /* IE6-9 */
        padding: 0.5em 0.5em 0.25em;
        .institution {
          font-weight: bold;
          color: #fff;
          line-height: 100%;
          -webkit-font-smoothing: antialiased;
        }
        .location {
          font-size: 85%;
          color: rgba(255,255,255,0.75);
        }
      }
      .partnerBody {
        padding: 0.5em 0.5em 0.25em;
        .product {
          font-weight: bold;
          font-size: 85%;
          color: #fff;
        }
        .outcome {
          font-size: 85%;
          color: #fff;
        }
        .link {
          font-size: 85%;
          color: desaturate(lighten($color5, 25%), 50%);
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
}
