$modalBgColor: rgba(0,0,0,0.75);
$modalHeaderBgColor: rgba(157, 19, 72, 0.75);
$iconIndent: 110px;

.modal {
  display: block;
  height: 0;
  position: absolute; // allows scrolling
  overflow: visible;
}

/* ==================================
 * Override Bootstrap styles 
 * ================================ */
 
@media screen and (min-width: 768px) {
  .modal-dialog {
    width: auto;
    padding: 0 3em;
    margin-bottom: 1em;
  }
}

.modal-backdrop.in {
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.modal-content {
  overflow: hidden;
  border-radius: 8px;
  // border: solid 1px #999;
  color: #fff !important;
  background-color: $modalBgColor;
}

.modal-header {
  min-height: 16.428571429px;
  padding: 0.5em 1em;
  border-bottom: none;
  background-color: $modalHeaderBgColor;
}

.modal-title {
  text-transform: uppercase;
  color: #ffffff
}

.modal-header .close {
	margin-top: 1px;
}
.modal-body {
	padding: 0;
	min-height: 300px;
}
.modal-footer {
  margin-top: 0;
  padding: 0.5em;
  background-color: $modalHeaderBgColor;
  border-top: none;
}

/* ================================== */

@media (min-width: 768px) {
  .modal-dialog {
    .icon {
      display: block !important;
    }
    .modal-header {
      h2, h3 {
        margin-left: $iconIndent !important;
      }
     } 
    .modalRowContent {
      margin-left: $iconIndent !important;
    }
  }
}

/* ================================== */

#stateMap {
  width: 300px;
  height: 300px;
  float: left;
}

.stateContent {
  padding: 1em 1em 1em 0;
  ul {
    margin: 0;
    li {
      list-style-type: none;
    }
  }
}
